.node.proximity {

  display: flex;

  padding-bottom: 0px !important;;
}
.node.proximity.selected {
  background: #ffd92c !important;
  border-color: #e3c000 !important;
}


.node.proximity:before {
  content: '';
  /*background: url('~/assets/img/icon.svg') no-repeat #757575;*/
  background: url('../../modules/Proximity/icon.svg') no-repeat #fff;
  background-size: 90%;
  background-position: center;
  width: 44px;
  height: 44px;
  border-right: 2px solid #4e58bf;
  border-radius: 4px 0px 0px 4px;
}

.node.proximity.selected:before {
    border-right: 2px solid  #e3c000;
}
.node.proximity .socket.input {
  position: absolute;
  left: 0px;
}

.node.proximity .socket.output {
  position: absolute;
  right: 0px;
}

.node.proximity input {
  width: 100px;
}

.node.proximity .title {
  display: none;
}

.node.proximity .output .output-title {
  display: none;
}


.node.proximity.selected {
    background: #ffd92c;
    border-color: #e3c000;
}
.node.proximity .control:nth-child(4) {
  padding-right: 5px;
}

.node.proximity .control:nth-child(5) {
  padding-left: 5px;
  padding-right: 5px;
}
.node.proximity .control:nth-child(6) {
  padding-left: 5px;

}

.node.proximity .control:nth-child(3) {
  padding-left: 0px;
  order: 5;

}
